#title {
    text-align: center;
}

#img-div {
    background-color: #eee;
    text-align: center;

}

#img-caption {
    padding: 15px;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
}